.threesixty--viewport {
  width: 100%;
  min-height: 800px;
  overflow-x: hidden;
  position: relative;
  -webkit-perspective: 1280px;
  -ms-perspective: 1280px;
  perspective: 1280px;
  -webkit-perspective-origin: center center;
  -ms-perspective-origin: center center;
  perspective-origin: center center;
  background-position: 0 0;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transition: background-position 1s ease-in-out;
  transition: background-position 1s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.threesixty--crop {
  overflow: hidden;
}
.threesixty--axis {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}
.threesixty-item {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.threesixty-item--scroll {
  overflow: auto;
}
.threesixty [name=threesixty] {
  position: absolute;
}
.threesixty-item:nth-child(1) {
  -webkit-transform: rotateY(0deg) translateZ(-1545.0966799187809px);
  -ms-transform: rotateY(0deg) translateZ(-1545.0966799187809px);
  transform: rotateY(0deg) translateZ(-1545.0966799187809px);
}
.threesixty-item:nth-child(2) {
  -webkit-transform: rotateY(-40deg) translateZ(-1545.0966799187809px);
  -ms-transform: rotateY(-40deg) translateZ(-1545.0966799187809px);
  transform: rotateY(-40deg) translateZ(-1545.0966799187809px);
}
.threesixty-item:nth-child(3) {
  -webkit-transform: rotateY(-80deg) translateZ(-1545.0966799187809px);
  -ms-transform: rotateY(-80deg) translateZ(-1545.0966799187809px);
  transform: rotateY(-80deg) translateZ(-1545.0966799187809px);
}
.threesixty-item:nth-child(4) {
  -webkit-transform: rotateY(-120deg) translateZ(-1545.0966799187809px);
  -ms-transform: rotateY(-120deg) translateZ(-1545.0966799187809px);
  transform: rotateY(-120deg) translateZ(-1545.0966799187809px);
}
.threesixty-item:nth-child(5) {
  -webkit-transform: rotateY(-160deg) translateZ(-1545.0966799187809px);
  -ms-transform: rotateY(-160deg) translateZ(-1545.0966799187809px);
  transform: rotateY(-160deg) translateZ(-1545.0966799187809px);
}
.threesixty-item:nth-child(6) {
  -webkit-transform: rotateY(-200deg) translateZ(-1545.0966799187809px);
  -ms-transform: rotateY(-200deg) translateZ(-1545.0966799187809px);
  transform: rotateY(-200deg) translateZ(-1545.0966799187809px);
}
.threesixty-item:nth-child(7) {
  -webkit-transform: rotateY(-240deg) translateZ(-1545.0966799187809px);
  -ms-transform: rotateY(-240deg) translateZ(-1545.0966799187809px);
  transform: rotateY(-240deg) translateZ(-1545.0966799187809px);
}
.threesixty-item:nth-child(8) {
  -webkit-transform: rotateY(-280deg) translateZ(-1545.0966799187809px);
  -ms-transform: rotateY(-280deg) translateZ(-1545.0966799187809px);
  transform: rotateY(-280deg) translateZ(-1545.0966799187809px);
}
.threesixty-item:nth-child(9) {
  -webkit-transform: rotateY(-320deg) translateZ(-1545.0966799187809px);
  -ms-transform: rotateY(-320deg) translateZ(-1545.0966799187809px);
  transform: rotateY(-320deg) translateZ(-1545.0966799187809px);
}
[name=threesixty]:nth-of-type(1):checked ~ .threesixty--viewport {
  background-position: 0% 0;
}
[name=threesixty]:nth-of-type(1):checked ~ .threesixty--viewport .threesixty--axis {
  -webkit-transform: translateZ(1545.0966799187809px) rotateY(0deg);
  -ms-transform: translateZ(1545.0966799187809px) rotateY(0deg);
  transform: translateZ(1545.0966799187809px) rotateY(0deg);
}
[name=threesixty]:nth-of-type(1):checked ~ .threesixty--viewport .threesixty-item:nth-of-type(1) {
  opacity: 1;
}
[name=threesixty]:nth-of-type(2):checked ~ .threesixty--viewport {
  background-position: 12.5% 0;
}
[name=threesixty]:nth-of-type(2):checked ~ .threesixty--viewport .threesixty--axis {
  -webkit-transform: translateZ(1545.0966799187809px) rotateY(40deg);
  -ms-transform: translateZ(1545.0966799187809px) rotateY(40deg);
  transform: translateZ(1545.0966799187809px) rotateY(40deg);
}
[name=threesixty]:nth-of-type(2):checked ~ .threesixty--viewport .threesixty-item:nth-of-type(2) {
  opacity: 1;
}
[name=threesixty]:nth-of-type(3):checked ~ .threesixty--viewport {
  background-position: 25% 0;
}
[name=threesixty]:nth-of-type(3):checked ~ .threesixty--viewport .threesixty--axis {
  -webkit-transform: translateZ(1545.0966799187809px) rotateY(80deg);
  -ms-transform: translateZ(1545.0966799187809px) rotateY(80deg);
  transform: translateZ(1545.0966799187809px) rotateY(80deg);
}
[name=threesixty]:nth-of-type(3):checked ~ .threesixty--viewport .threesixty-item:nth-of-type(3) {
  opacity: 1;
}
[name=threesixty]:nth-of-type(4):checked ~ .threesixty--viewport {
  background-position: 37.5% 0;
}
[name=threesixty]:nth-of-type(4):checked ~ .threesixty--viewport .threesixty--axis {
  -webkit-transform: translateZ(1545.0966799187809px) rotateY(120deg);
  -ms-transform: translateZ(1545.0966799187809px) rotateY(120deg);
  transform: translateZ(1545.0966799187809px) rotateY(120deg);
}
[name=threesixty]:nth-of-type(4):checked ~ .threesixty--viewport .threesixty-item:nth-of-type(4) {
  opacity: 1;
}
[name=threesixty]:nth-of-type(5):checked ~ .threesixty--viewport {
  background-position: 50% 0;
}
[name=threesixty]:nth-of-type(5):checked ~ .threesixty--viewport .threesixty--axis {
  -webkit-transform: translateZ(1545.0966799187809px) rotateY(160deg);
  -ms-transform: translateZ(1545.0966799187809px) rotateY(160deg);
  transform: translateZ(1545.0966799187809px) rotateY(160deg);
}
[name=threesixty]:nth-of-type(5):checked ~ .threesixty--viewport .threesixty-item:nth-of-type(5) {
  opacity: 1;
}
[name=threesixty]:nth-of-type(6):checked ~ .threesixty--viewport {
  background-position: 62.5% 0;
}
[name=threesixty]:nth-of-type(6):checked ~ .threesixty--viewport .threesixty--axis {
  -webkit-transform: translateZ(1545.0966799187809px) rotateY(200deg);
  -ms-transform: translateZ(1545.0966799187809px) rotateY(200deg);
  transform: translateZ(1545.0966799187809px) rotateY(200deg);
}
[name=threesixty]:nth-of-type(6):checked ~ .threesixty--viewport .threesixty-item:nth-of-type(6) {
  opacity: 1;
}
[name=threesixty]:nth-of-type(7):checked ~ .threesixty--viewport {
  background-position: 75% 0;
}
[name=threesixty]:nth-of-type(7):checked ~ .threesixty--viewport .threesixty--axis {
  -webkit-transform: translateZ(1545.0966799187809px) rotateY(240deg);
  -ms-transform: translateZ(1545.0966799187809px) rotateY(240deg);
  transform: translateZ(1545.0966799187809px) rotateY(240deg);
}
[name=threesixty]:nth-of-type(7):checked ~ .threesixty--viewport .threesixty-item:nth-of-type(7) {
  opacity: 1;
}
[name=threesixty]:nth-of-type(8):checked ~ .threesixty--viewport {
  background-position: 87.5% 0;
}
[name=threesixty]:nth-of-type(8):checked ~ .threesixty--viewport .threesixty--axis {
  -webkit-transform: translateZ(1545.0966799187809px) rotateY(280deg);
  -ms-transform: translateZ(1545.0966799187809px) rotateY(280deg);
  transform: translateZ(1545.0966799187809px) rotateY(280deg);
}
[name=threesixty]:nth-of-type(8):checked ~ .threesixty--viewport .threesixty-item:nth-of-type(8) {
  opacity: 1;
}
[name=threesixty]:nth-of-type(9):checked ~ .threesixty--viewport {
  background-position: 100% 0;
}
[name=threesixty]:nth-of-type(9):checked ~ .threesixty--viewport .threesixty--axis {
  -webkit-transform: translateZ(1545.0966799187809px) rotateY(320deg);
  -ms-transform: translateZ(1545.0966799187809px) rotateY(320deg);
  transform: translateZ(1545.0966799187809px) rotateY(320deg);
}
[name=threesixty]:nth-of-type(9):checked ~ .threesixty--viewport .threesixty-item:nth-of-type(9) {
  opacity: 1;
}
